{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
<h1 class="display-4"> {{ title }} </h1>
<p> {{ homepage_text }} </p>
    </div>
{% endblock %}
