<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}EntitiesG1{% endblock %}</title>
        <link rel="icon" type="image/x-icon"  href="{{ asset('img/favicon.ico') }}" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

    {% block content %}
    {% endblock %}
    {% block body %}
    {% endblock %}

    </body>
</html>



